@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";
/* Tambahkan transisi halus untuk seluruh halaman */
body {
  @apply transition-colors duration-300;
}